// out: null
/* ============================================================

    Big Mallet's Mallet - Extended
    Media Objects
	Version: 3.1
	
    uses the Media Object by @stubbornella
    http://www.stubbornella.org/

============================================================ */

/* layoutc =================================================== */
//Some defaults colors text etc..
// .o-media-- - container
// .o-media__item - the media item e.g. image
// .o-media__body - the media text 

//modifiers 
//.media--object (basic media object behaviour)
//.media--rev (reverse the default)

//elements in situe
//.d-section--alignment-none (image above text default)
//.d-section--alignment-center(image on top with text centered)
//.d-section--alignment-left (media floated left)
//.d-section--alignment-right (media floated right)


// Handheld major =================================================== */
// 768px/48em up
@handheld_major: 48em;
.min-width(@handheld_major {
    
    .o-media {
        .clearfix();
    }
    
    // the default for the media object is image floated left and text next to it
    .o-media__item {
        float:left;
        .one-half();
    }
    
    // .media--object 
    
    .media--object .o-media__item {
       margin-right: @gutter;     
       width: auto;
        
    }
    
    .media--object img {
        width: auto;
        max-width: none;
    }
    
    
    //elements in situe
    
    // reversed
    .media--rev .o-media__item, .d-section--alignment-right .o-media__item {
        margin-right: 0;
        float: right;
    }
        
    .media--object[class*="--rev"] .o-media__item {
        margin-left: @gutter;
    }
    
    // centered media 
    
    .d-section--alignment-center .o-media__item {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    
});


// large minor =================================================== */
// 1152px/72em up
@medium_minor: 72em;

.min-width(@medium_minor {
    
    //elements in situe
    .d-section[class*='.d-section--alignment'] .o-media__item {
           .golden-section--lg();
    }
    
    
});
.d-section--media-1,
.d-section--media-2,
.d-section--media-3{
    .min-width(48em{
        .o-media{
            position: relative;
            .o-media__item figure{
                position: absolute;
                bottom: 0;
                max-width: 20em;
                right: 5%;
            }
            .o-media__body{
                max-width: 50%;
            }
        }
    });
}

.d-section--style-3{
    .o-media__item{
        //height: 100%;
        .min-width(48em{
            width: 60%; 
        });
        .min-width(75em{
            width: 67%;
        });
        .min-width-max(48em{
            img{
                width: auto;
                max-width: auto;
                height: 100%;
            }
        }59.9999em);
    }   
    .o-media__body{
        .min-width-max(.625em{
            .title{
                font-size: 2em;
            }
        }59.9999em);
    }
}
// SITE SPECIFIC TWEAKS =================================================== 





